#Juto-title {
  text-align: center;
  margin-top: 150px;
  font-size: 200px;
  color: White;
  padding-top: 10px;
  margin-bottom: 63px; 
}

body {
  background-image: url("BackgroundforJutoWebsitehomepage.jpg");
}

#Slogan {
    text-align: center;
    margin-top: 10px;
    font-size: 50px;
    color: White;
}

#Company-Description {
  text-align: center;
  color: White;
  font-size: 45px;
}

#Juto-logo {
  width: 125px;
  height: 125px;
}

#Banner-image {
  width: 756px;
  height: 456px;
}










