form {
  border: 5px solid white;
  align-items: center;
  padding-right: 1px;
  width: 700px;
  margin-left: 33%;
  background-color: #ffffff;
}

body {
  background-image: url('BackgroundforJutoWebsitehomepage.jpg');
}

#lbl1 {
  color: black;
  text-align: center;
}

#lbl2 {
  color: black;
  text-align: center;
}

#lbl3 {
  color: black;
  text-align: center;
}

#lbl4 {
  color: black;
}

h1 {
  color: black;
  text-align: center;
}
