form {
  border: 5px solid white;
  align-items: center;
  padding-right: 1px;
}

body {
  background-image: url('BackgroundforJutoWebsitehomepage.jpg');
}

#lbl1 {
  color: white;
  text-align: center;
}

#lbl2 {
  color: white;
  text-align: center;
}

#lbl3 {
  color: white;
  text-align: center;
}

#lbl4 {
  color: white;
}
