form {
  border: 5px solid white;
  align-items: center;
}

body {
  background-image: url('BackgroundforJutoWebsitehomepage.jpg');
}

#fupload {
  
}

#txt1 {
  
}

#email {
  
}

label {
  text-align: center;
}
