#title {
    text-align: center;
    font-size: 100px;
}

p {
    position: absolute;
    left: 560px;
    right: 20px;
    bottom: 400px;
    top: 200px;
}

#image {
    position: absolute;
    top: 50%;
}
