#title {
    
    text-align: center;
    font-size: 100px;
    color: White;
}

p {
    position: absolute;
    left: 540px;
    right: 20px;
    bottom: 400px;
    top: 200px;
    color: White;
}

#image {
    position: absolute;
    top: 50%;
    width: 350px;
    height: 240px;
}

body {
    background-image: url("BackgroundforJutoWebsitehomepage.jpg");
}

#Jutologo {
    position: absolute;
    margin-left: 0px;
    margin-top: 0px; 
}
